.prodcutDetails-container {
    padding: 10px;
    font-size: 24px;
    
} 
.productDetails-card {
    padding: 10px;
    
}
.goback-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   

}
.goback-container svg {
    margin-left: 5px;
    color: #407BFF;
    transform: rotate(-180deg);
    
}
.goback-container h2 {
    margin-left: 15px;
    font-size: 1em;
    letter-spacing: -0.01rem;
}
.img-container {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    padding: 20px;

}
.img-container img {
    width: 80%;
}
.name-price-container {
    margin-bottom: 20px;
  
}
.name-price-container h1 {
    font-size: 1.1em;
    letter-spacing: -0.015rem;
}
.description-container {
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    padding: 20px;
}
.description-container h2 {
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin-bottom: 20px;
}
.description-container p {
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 0.7em;
}

@media (min-width: 576px) {
    .prodcutDetails-container {
        padding: 20px;
        font-size: 32px;    
    }    
    .productDetails-card {
        padding: 20px;            
    }
}
@media (min-width: 992px) {
    .prodcutDetails-container {
        padding: 40px;
    }    
    .productDetails-card {
        padding: 40px;
    }
    .img-container {
        width: 80%;
    }
    .description-container {
        padding: 40px;
    }
    .name-price-container {
        display: flex;
        justify-content: space-between;
    }

}

